/**** Nautilus ****/

.nautilus-window {
	notebook {
		> stack {
			background: $base_color;
		}
	}

	.disclosure-button {
  	padding-left: 4px;
  	padding-right: 4px;
	}


	.nautilus-canvas-item {
		border-radius: 5px;
	}

	.nautilus-canvas-item.dim-label,
	.nautilus-list-dim-label {
		color: mix($fg_color, $bg_color, 50%);
    &:selected { color: mix($selected_fg_color, $selected_bg_color, 80%); }
	}

	entry.search > * {
		margin: 5px;
	}

	.nautilus-path-bar {
		button {
			margin: 0px;
			&:not(:checked) image { opacity: 0.8; }
		}
	}

	.path-bar-box {
		transition: border 200ms;
		transition: background-color 200ms;
		border-radius: 5px;

		&.width-maximized {
			border: 1px solid $borders_color;
			background-color: $bg_color;

			button:first-child {
				border-radius: 5px 0 0 5px;
				border-width: 0px 1px 0px 0px;
			}

			button:not(:first-child) {
				border-width: 0px 1px 0px 1px;
				border-radius: 0;
			}
		}
	}

	.sidebar-row:hover { background: mix($bg_color, $fg_color, 97%); }

	.sidebar-row:active,
	.sidebar-row:selected {
		&, &:hover { background: mix($bg_color, $fg_color, 92%); }

		image, label { color: mix($fg_color, $text_color, 50%); }

		&:backdrop {
			background: mix($backdrop_bg_color, $backdrop_fg_color, 92%);

			image, label { color: mix($backdrop_fg_color, $backdrop_text_color, 85%); }
		}
	}
	
	.floating-bar {
		padding: 1px;
		background-color: $base_color;
		border-width: 1px;
		border-style: solid solid none;
		border-color: $borders_color;
		border-radius: 3px 3px 0 0;
		
		&.bottom.left {
			border-left-style: none;
			border-top-left-radius: 0;
		}
		
		&.bottom.right {
			border-right-style: none;
			border-top-right-radius: 0;
		}
		
		&:backdrop {
			background-color: $backdrop_base_color;
			border-color: $backdrop_borders_color;
		}
		
		button { padding: 0px; }
	}
}

// disk space piechart
$disk_space_unknown: #888a85;
$disk_space_used: #729fcf;
$disk_space_free: $osd_fg_color;

.disk-space-display {
	border-style: solid;
	border-width: 2px;

	&.unknown {
		background-color: $disk_space_unknown;
		border-color: shade($disk_space_unknown, 0.7);
		color: $disk_space_unknown;

		&.border { color: shade($disk_space_unknown, 0.7); }
	}

	&.used {
		background-color: $disk_space_used;
		border-color: shade($disk_space_used, 0.7);
		color: $disk_space_used;

		&.border { color: shade($disk_space_used, 0.7); }
	}

	&.free {
		background-color: $disk_space_free;
		border-color: shade($disk_space_free, 0.7);
		color: $disk_space_free;

		&.border { color: shade($disk_space_free, 0.7); }
	}
}

/**** Gedit ****/
.gedit-document-panel {
	background-color: $sidebar_bg_color;
}

.gedit-bottom-panel-paned ~ statusbar {
	border-top: 1px solid $borders_color;
}

.gedit-search-slider {
	background-color: $base_color;
	padding: 6px;
	border-color: $borders_color;
	border-radius: 0 0 3px 3px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
}

.gedit-search-entry-occurrences-tag {
	background-color: $base_color;
	background-image: none;
	color: shade($backdrop_fg_color, 0.8);
	border: 0px;
	margin: 2px;
	padding: 2px;
}

/**** xfce4 ****/

// FIXME: 
// using Mutter[-based] WMs the panels will uses :backdrop state
// so let's override it

.xfce4-panel {
	&, &.background {
		text-shadow: none;
		-gtk-icon-shadow: none;
	}

	button, button:backdrop {
		@include button(undecorated);
		border-radius: 0;
		border: 0;
		
		label:backdrop { color: $fg_color } // backdrop override

		&:hover, &:active, &:checked {
			box-shadow: inset 0 -3px $selected_bg_color;
			transition: none;
			// another backdrop override
			&:backdrop { background: none; }
		}
	}

	widget.tasklist > button.toggle,
	widget.tasklist:backdrop > button.toggle:backdrop {
		@extend %button_basic;
		margin: 2px 1px;
	}
}

// PulseAudio applet
#pulseaudio-button menu {
	.linked button {
		@extend %button_basic;
		@extend %linked;
	}
}

// session dialog
$xfsm_dialog_borders: if($variant == 'light', transparentize(black, 0.44), $borders_color);

dialog.xfsm-logout-dialog.keycap {
	background-color: $bg_color;
	box-shadow: none;
	border-color: $xfsm_dialog_borders;
	
	separator.horizontal { background-color: transparent; }
}
