// Additional tweaks
// Instead modifying _common.scss, let some tweaks available here

/**** Reduce PlacesSidebar height ****/
placessidebar row {
	min-height: 34px;
}

/**** Make titlebar height more 'compact' ****/
.titlebar.default-decoration {
  min-height: 24px;

  button.titlebutton {
  	min-height: 22px;
  	min-width: 22px;
  }
}

/**** Fix slimmed circular buttons ****/
* { & button.circular { min-width: 0; } }

/**** Fix for apps that uses HdyViewSwitcher in headerbar ****/
headerbar {
	hdyviewswitcher {
		button.radio {
			box {
				&.horizontal.wide {
					margin: -6px 0;
				}
				
				&.vertical.narrow {
					margin: -3px 0;
				}
			}
		}
		
		label { margin: -2px 0; }
	}
}

/**** Context menu tweaks ****/
// Derived from yaru-theme
decoration {
	$_wm_border: if($variant == 'light', transparentize(black, 0.77), transparentize($borders_color, 0.1));

	.csd.popup & {
		border-radius: $menu_radius;
		box-shadow: 0 1px 2px 1px transparentize(black, 0.7),
					0 0 0 1px $_wm_border;
	}
}