// Additional tweaks
// Instead modifying _common.scss, let some tweaks available here

/**** Reduce PlacesSidebar height ****/
placessidebar row {
	min-height: 34px;
}

/**** Make titlebar height more 'compact' ****/
.titlebar.default-decoration {
  min-height: 24px;

  button.titlebutton {
  	min-height: 22px;
  	min-width: 22px;
  }
}

/**** Fix slimmed circular buttons ****/
* { & button.circular { min-width: 0; } }

/**** Fix for apps that uses HdyViewSwitcher in headerbar ****/
headerbar {
	hdyviewswitcher {
		button.radio {
			box {
				&.horizontal.wide {
					margin: -6px 0;
				}
				
				&.vertical.narrow {
					margin: -3px 0;
				}
			}
		}
		
		label { margin: -2px 0; }
	}
}
